<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Slave</th>
      <th>Image1 uid</th>
      <th>Image1 name</th>
      <th>Image2 uid</th>
      <th>Image2 name</th>
      <th>Url</th>
      <th>Sort</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.description %></td>
        <td><%= category.slave %></td>
        <td><%= category.image1_uid %></td>
        <td><%= category.image1_name %></td>
        <td><%= category.image2_uid %></td>
        <td><%= category.image2_name %></td>
        <td><%= category.url %></td>
        <td><%= category.sort %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
