<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Строительство в Липецке Строительство под ключ, каркасные дома, дом из бруса, бани, дачи, коттедж. Пиломатериалы
Доска обрезная, доска необрезная, брус, рейка, вагонка. Владимирский лес Официальный сайт - страница Пиломатериал от производителя, Владимирский лес | Липецк | Центральное Черноземье | Воронеж | Тамбов | доска обрезная, брус, рейка 
доска необрезная, изготавливаем по размерам заказчика ">
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
